/*https://bytewebster.com/*/
/*https://bytewebster.com/*/
/*https://bytewebster.com/*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




body {
  background: linear-gradient(127deg, #ffffff, #155353, #1f1f1f, #155353);
      background-size: 500% 400%;
    animation: gradient 6s ease infinite;
    height: 260vh;
    color: var(--text-color);

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 21px 7%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background: linear-gradient(312deg, #0b8379 36%, #ffffff 54%);
  /* justify-content: center; */
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

}

.nav-links {
  display: flex;
}

.nav-links a {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  margin: 0 30px;

}

.nav-links a:hover {
  color: var(--main-color);
}

.logo img {
  display: flex;
  width: 135px;
  height: auto;
  justify-content: end;

}

.or {

  display: inline-block;
  padding: 15px 22px;
  color: white;
  background: #2bafaf;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  word-spacing: 5px;
  border: 1px solid transparent;
}

.h-right {
  display: flex;
  align-items: center;
}

.h-right a {
  margin-right: 30px;
  font-size: 25px;
  color: var(--main-color);
}

.h-right a:hover {
  color: var(--text-color);
  transform: scale(1.2);
}

#menu-icon {
  font-size: 37px;
  color: var(--main-color);
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.befoaft{
  text-align: center;
  color: #d9d8d7;
  font-family: 'Aref Ruqaa', serif;

}

.elemant img {
  margin: 20px 0;
}
.elemant{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 110px;
  color: #d9d8d7;
  font-family: 'Aref Ruqaa', serif;
}

/* CSS */
.button-85 {
  padding: 1.1em 3em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #c3bfbf, #00b4bd, #076565, #0081b5, #00ffd5, #006c8d, #1b5d57, #34b591, #fbfbfb
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
  background: #62667f;
}

.swiper-slide--two span {
  background: #087ac4;
}

.swiper-slide--three span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #087ac4;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(img/7alp.png) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/kely.png") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/prostata.png") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/matana.png") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/shak.png") no-repeat 50% 50% / cover;
}

.swiper-slide--six {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/lazer\ \ marn_png.png") no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.swiper-slide--one-t {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(img/deq.png) no-repeat 50% 50% / cover;
}

.swiper-slide--two-t {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/sals\ elbol.png") no-repeat 50% 50% / cover;
}

.swiper-slide--three-t {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/sofly\ atfal.png") no-repeat 50% 50% / cover;
}

.swiper-slide--four-t {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("img/sexcy.png") no-repeat 50% 50% / cover;
}

.swiper-slide--one-t span {
  background: #62667f;
}

.swiper-slide--two-t span {
  background: #087ac4;
}

.swiper-slide--three-t span {
  background: #b45205;
}

.swiper-slide--four-t span {
  background: #087ac4;
}

video {
 margin: 230px 40px;
}
